.autoComplete_wrapper {
    width: 100%!important;
}

.autoComplete_wrapper > input {
    width: 100%!important;
    height: inherit!important;
    padding: 8 12 8 12!important;
    font-size: inherit!important;
    color: inherit!important;
    border-radius: 0.375rem;
    border: 1px solid rgba(33, 33, 33, .2);
    outline: 0;
}